* {
    font-family: "Helvetica Neue", Aria;
}

/* ANSI colors http://bluesock.org/~willg/dev/ansi.html */
.color_36 {
    color: #00a8aa;
}

.color_32 {
    color: #58a72e;
}

.color_31 {
    color: #db0d0e;
}