@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/boutdecode.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- Javascripts libraries -->
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/simrou.js")" type="text/javascript"></script>

  </head>
  <body>
    @content

    <!-- Javascript Router -->
    @import helper.javascriptRouter
    @javascriptRouter("jsRoutes")(
    )

    <!-- Javascripts app -->
    <script src="@routes.Assets.at("javascripts/boutdecode.js")" type="text/javascript"></script>
  </body>
</html>
